@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Square+Peg&display=swap');

*{
    padding: 0;
    margin: 0;
}






.header{
    grid-area: header;
    

}

.galeriagrid{
    display: flex;
    grid-area: galeria;
}



/* selector - propiedad - valor */

header{

    background-color: #5cb8c0;
    height: 1.4cm;
    width: 100%;
        display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0;
    
    
         
  
    
}

nav{
    display: flex;
    align-items: center;
    
}



nav ul li{
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    
    
  
 
}
nav ul li a{
    
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding: 18px;
    
    
    
    
    
}


.logo{
    padding-top: 20px;
    margin: 0px;
    width: 8cm;
    


}

.titulo1 {
    font-family: 'Square Peg', cursive;
    font-size: 70px;
    color: #94B49F ;
    border-bottom: 5px dotted #B4CFB0;
    padding: 50px 50px 0% 50px;
    width: 100%;

         
    }


body{
    height: 6cm;
    background-color: #F9F4E3;
    padding-top: 3px;

}



p{
    color: #5D534A;
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
    

}


h1{
    width: 100;
    height: 100%;
    padding: 50px 50px 0% 50px;
    
    border-top: 3px solid black;
}

h2{
    color: #AD8B73 ;
padding: 30px;
margin: 15px;
    

}






section{
    padding: 20px;
    margin: 20px;
   
}



h3{
    display: inline-block;
    padding: 15px;
    margin-left: 60px;
    margin-right: 60px;
}

.finaliza{
    transition-property: all;
    transition-duration: 1s;
}

.carrito{
        padding: 20px;
        margin: 20px;
        height: 8cm;
    


}

.nosotros{
    height: 12cm;
   display: inline-block;
}

.gradiente{
    display: flex;
    border-left: 50%    ;

width: 200px;
height: 200px;
background-image: linear-gradient(to top, hsl(46, 79%, 85%), #5cb8c0 );


}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 3px;
    margin-left: 50px;
    margin: 10px 20px 20px 20px;
    width: 250px;
    border: 3px solid black;
    transition-property: all;
    transition-duration: 1s; 
}

.productos:hover{
    transform: scale(1.8);
}
 
.cartera1{
    transition-property: all;
    transition-duration: 0.5ms;  
}



figcaption{
display: flex;
padding: 0;
margin-left: 20px;
align-items: center;
font-size: 22px;
}


.formulario{
 padding: 20px; 
 line-height: 30px; 
 border-top: 0;
}


.footer{
    padding: 20px;
    background-color: #5cb8c0;
    bottom: 0px;
    margin-bottom: 0;
    margin-top: auto;
    height: 100px;
    width: 100%;
    color: rgb(0, 0, 0);
    grid-area: footer;

}

.wa{
    display: inline-block;
    padding: 15px;
    margin-left: 20%;

 
}
.ig{
    display: inline;
    padding: 15px;
    margin-left: 15%;

}


/* definimos cantidad de filas, columnas     y sus tamaños */

@media (min-width: 767px){

    .grilla{
        display: grid;
        width: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-area: grilla;
        grid-template-areas: 
        "header"
        "content"
        "footer"
        ;
    }
    
    .galeriapadre{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        height: auto;
        width: 100%;
        
        justify-content: center;
        align-items: center;
        gap: 150px;
    
    }
    

    
}






@media (max-width: 1024px){

    .grilla{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-area: grilla;
        width: 100%;
        grid-template-areas: 
        "header header header"
        "content content content"
        "footer footer footer";
     
    }
    
 
    
    .galeriapadre{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        height: 100%;
        width: auto;
        
        justify-content: center;
        align-items: center;
        gap: 150px;
    
    }

}

